html,
body,
header{
    height: 100%;
}

.view{
    height: 100%;
    background: url("https://images.alphacoders.com/510/thumb-1920-510026.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-title{
    margin: 5rem 0;
}

.g-button{
    color: #fff !important;
    border: 1px solid #000000;
    background: #ff2d1a !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}

.btn {
    min-height: 3.125rem;
    line-height: initial;
}
